@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--primary-color: 111, 76, 255;
	--text-color: 256, 256, 256;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	background-color: #14181e;
	margin: 0;
	padding: 0;
}


/* Navbar CSS */
.nav {
	background-color: #222832;
	padding: 10px 12px;
	margin: 0;
	height: 10vh;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	width: 100%;
	overflow: hidden;
	min-width: 412px;
}

.nav a {
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav #title {
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
	background-color: red;
	background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
}

/* .nav a #word {
	background-color: red;
	background-image: linear-gradient(to right, orange, yellow);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
} */

.nav button {
	font-family: 'Helvetica', serif;
	width: auto;
	border: 2px double transparent;
	background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
	;
	background-origin: border-box;
	background-clip: padding-box, border-box;
	outline: none;
	color: rgba(var(--text-color));
	;
	padding: 8px 30px;
	letter-spacing: .5px;
	border-radius: 25px;
	font-size: 1.1rem;
	font-weight: 549;
	transition: all .5s ease;
	-webkit-appearance: none;
	appearance: none;
	font-weight: 549;

	&:hover,
	&:focus {
		box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
		cursor: pointer;
	}
}

.nav #button {
	display: flex;
	flex-wrap: nowrap;
}

.nav #aboutbtn {
	background-color: #222832;
	background-image: none;
	margin-right: 10px;
	border: none;
	box-shadow: none;
}

/* about-project */

.about-project {
	padding: 20px 40px;
}

.about-project h1 {
	color: white;
	margin: 0 0 20px 20px;
	font-size: 1.7rem;
}

.about-container {
	padding: 2rem;
	background-color: #222832;
	border-radius: 5px;
}

.about-container h3 {
	color: white;
	margin: 0 0 20px 20px;
	font-size: 1.1rem;
}

.about-project p {
	color: White;
	/* background-color: #8b68ff; */
	background-color: #338e9e;
	padding: 10px 20px;
	border-radius: 10px;
	font-size: 1.4rem;
}

/* Sectiion- Team */

.about-team {
	padding: 20px 40px;
}

.about-team h1 {
	color: white;
	margin: 0 0 20px 20px;
	font-size: 1.7rem;
}

.profile-cards {
	padding: 2rem;
	background-color: #222832;
	border-radius: 5px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.image {
	position: relative;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	/* background-color: #4070f4; */
	background-color: #7d4bb6;
	padding: 3px;
	margin-bottom: 10px;
}

.image .profile-img {
	height: 100%;
	width: 100%;
	object-fit: cover;
	border-radius: 50%;
	border: 3px solid white;
}

.profile-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 370px;
	width: 100%;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(1, 1, 1, 0.368);
	padding: 20px;
	border-radius: 20px;
	position: relative;
}

.profile-card::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	/* background-color: #4070f4; */
	background-color: #7d4bb6;
	/* background-color: #4070f4; */
	height: 36%;
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.profile-card .text-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10px;
}

.text-data .name {
	font-size: 20px;
	font-weight: 500;
}

.text-data .job {
	font-size: 15px;
	font-weight: 400;
}

.media-buttons {
	display: flex;
	align-items: center;
}

.media-buttons .link {
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	height: 34px;
	width: 34px;
	margin: 0 8px;
	text-decoration: none;
	background-color: #4070f4;
	border-radius: 50%;
}

.profile-card .buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.profile-card .analytics {
	display: flex;
	align-items: center;
	margin-top: 25px;
}