@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: 111, 76, 255;
    --text-color: 256, 256, 256;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: inherit;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: #14181e;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;

    &:hover {
        color: darken(#1ab188, 5%);
    }
}

/* Navbar CSS */
.nav {
    background-color: #222832;
    padding: 10px 12px;
    margin: 0;
    height: 10vh;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.nav a {
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav #title {
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    background-color: red;
    background-image: linear-gradient(to right, rgb(1 134 218), rgb(182 49 167));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/* .nav a #word {
	background-color: red;
	background-image: linear-gradient(to right, orange, yellow);
	background-size: 100%;
	background-repeat: repeat;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-text-fill-color: transparent;
} */

.nav button {
    font-family: 'Helvetica', serif;
    width: auto;
    border: 2px double transparent;
    background-image: linear-gradient(rgb(13, 14, 33), rgb(13, 14, 33)), radial-gradient(circle at left top, rgb(1, 110, 218), rgb(217, 0, 192));
    ;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    outline: none;
    color: rgba(var(--text-color));
    ;
    padding: 8px 30px;
    letter-spacing: .5px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 549;
    transition: all .5s ease;
    -webkit-appearance: none;
    appearance: none;
    font-weight: 549;

    &:hover,
    &:focus {
        box-shadow: rgba(var(--primary-color), 0.5) 0px 0px 20px 0px;
        cursor: pointer;
    }
}

.nav #button {
    display: flex;
    flex-wrap: nowrap;
}

#button {
    display: flex;
    align-items: center;
}

.nav #aboutbtn {
    background-color: #222832;
    background-image: none;
    margin-right: 10px;
    border: none;
    box-shadow: none;
}

#loginSuccessMsg {
    position: absolute;
    top: 5.5rem;
    left: 72.5rem;
}

#container {
    display: flex;
    justify-content: end;
    align-items: center;
}

#userImg {
    width: 3rem;
    height: 3rem;
}

/* url input */
.container {
    display: flex;
    margin-top: 3%;
    width: 60%;
}

.container form {
    width: 100%;
    /* background-color: green; */
    margin: 1rem;
    padding: 1rem;
}

.container form input {
    background-color: #222832;
    /* border: none; */
    border: 1px solid #222832;
}

.container form input:focus {
    border: 1px solid #1ab188;
}

/* Generate button */
.glow-on-hover {
    font-family: 'Helvetica', serif;
    width: auto;
    padding: 5px 20px;
    margin: 7px 1px;
    font-size: 1.3rem;
    margin-top: 0.75rem;
    font-weight: 549;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 5px;
}

.glow-on-hover:active {
    color: white
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #14181e;
    left: 0;
    top: 0;
    border-radius: 5px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


/* .container form label {
    font-size: 22px;
    margin-left: 18.5%;
} */

/* label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: #ffffff;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 20px;

    .req {
        margin: 2px;
        color: #1ab188;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}

label.highlight {
    color: #ffffff;
} */

input {
    font-size: 1.2rem;
    display: block;
    width: 100%;
    height: auto;
    padding: 8px 10px;
    background: none;
    background-image: none;
    color: #ffffff;
    border: 1px solid #a0b3b0;
    border-radius: 5px;
    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border: 1px solid #1ab188;
    }
}

input::placeholder {
    color: White;
    opacity: 0.5;
    font-size: 1.2rem;
}

.button {
    border: 0;
    outline: none;
    border-radius: 0px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    /* background: #1ab188; */
    background: #4e799f;
    color: #ffffff;
    transition: all.5s ease;
    -webkit-appearance: none;
    appearance: none;

    &:hover,
    &:focus {
        background: #000000;
    }
}