*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #14181e;
}

a {
    text-decoration: none;
    color: #1ab188;
    transition: .5s ease;

    &:hover {
        color: darken(#1ab188, 5%);
    }
}

.navbarName {
    position: absolute;
    bottom: 22px;
}

.container {
    display: flex;
    margin-top: 3%;
    width: 60%;
}

.container form {
    width: 100%;
    /* background-color: green; */
    margin: 1rem;
    padding: 1rem;
}

.container form input {
    background-color: #222832;
    /* border: none; */
    border: 1px solid #222832;
}

.container form input:focus{
    border: 1px solid #1ab188;
}

.container form button {
    font-family: 'Helvetica', serif;
    width: auto;
    background-color: #3fb1c5;
    border: 4px solid #3fb1c5;
    color: #14181e;
    padding: 5px 20px;
    margin: 4px 1px;
    border-radius: 5px;
    font-size: 1.3rem;
    margin-top: 0.75rem;
    font-weight: 549;

}
.container form button:hover {
    font-size: 1.3rem;
    background: none;
    border: 4px solid #3fb1c5;
    padding: 5px 20px;
    margin: 4px 2px;
    border-radius: 5px;
    width: auto;
    margin-top: 0.75rem;
    color: #3fb1c5;
}


/* .container form label {
    font-size: 22px;
    margin-left: 18.5%;
} */

.navbar {
    width: 100%;
    height: 10vh;
    background-color: #222832;
    color: white;
}

.logo img {
    width: 24%;
    margin-left: 20px;
}

.signup-login-form {
    background: #2F3D40;
    padding: 40px;
    width: 550px;
    margin: 40px auto;
    border-radius: 4px;
    box-shadow: 0 4px 10px 4px rgba(#13232f, .3);
    position: absolute;
    top: 10%;
    left: 32%;
}

.tab-group {
    list-style: none;
    padding: 0;
    margin: 0 0 20px 0;

    &:after {
        content: "";
        display: table;
        clear: both;
    }

    li a {
        display: block;
        text-decoration: none;
        padding: 10px;
        background: #4c5c5f;
        color: white;
        font-size: 20px;
        float: left;
        width: 50%;
        text-align: center;
        cursor: pointer;
        transition: .5s ease;

        &:hover {
            /* background: #1ab188; */
            color: #ffffff;
        }
    }

    .active a {
        /* background: #1ab188; */
        background: #4e799f;
        color: #ffffff;
    }
}

.tab-group img {
    position: relative;
    left: 461px;
    top: -19px;
}


.tab-content>div:last-child {
    display: none;
}


h1 {
    text-align: center;
    color: #ffffff;
    font-weight: 300;
    margin: 0 0 20px 0;
    font-size: 30px;
}

label {
    position: absolute;
    transform: translateY(6px);
    left: 13px;
    color: #ffffff;
    transition: all 0.25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    pointer-events: none;
    font-size: 20px;

    .req {
        margin: 2px;
        color: #1ab188;
    }
}

label.active {
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;

    .req {
        opacity: 0;
    }
}

label.highlight {
    color: #ffffff;
}

input,
textarea {
    font-size: 1.2rem;
    display: block;
    width: 100%;
    height: auto;
    padding: 8px 10px;
    background: none;
    background-image: none;
    color: #ffffff;
    border: 1px solid #a0b3b0;
    border-radius: 5px;
    transition: border-color .25s ease, box-shadow .25s ease;

    &:focus {
        outline: 0;
        border: 1px solid #1ab188;
    }
}

input::placeholder {
    color: White;
    opacity: 0.5;
    font-size: 1.2rem;
}

textarea {
    border: 2px solid #a0b3b0;
    resize: vertical;
}

.field-wrap {
    position: relative;
    margin-bottom: 40px;
}

.top-row {
    &:after {
        content: "";
        display: table;
        clear: both;
    }

    >div {
        float: left;
        width: 48%;
        margin-right: 4%;

        &:last-child {
            margin: 0;
        }
    }
}

.button {
    border: 0;
    outline: none;
    border-radius: 0px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
    /* background: #1ab188; */
    background: #4e799f;
    color: #ffffff;
    transition: all.5s ease;
    -webkit-appearance: none;
    appearance: none;

    &:hover,
    &:focus {
        background: #000000;
    }
}

.button-block {
    display: block;
    width: 100%;
}

.forgot {
    margin-top: -20px;
    text-align: right;
}