*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	box-sizing: inherit;
}

body {
	font-family: 'Titillium Web', sans-serif;
	background-color: #14181e;
}

/* Navbar CSS */
.nav {
	background-color: #222832;
	padding: 10px 12px;
	margin: 0;
	height: 10vh;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nav a {
	text-decoration: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav #title {
	/* color: #a88dff; */
	color: white;
	font-weight: bold;
	font-size: 1.5rem;
	text-align: center;
}

.nav button {
	font-family: 'Helvetica', serif;
	width: auto;
	background-color: #222832;
	/* background-color: #3a9bac; */
	border: 3px solid white;
	outline: none;
	color: white;
	padding: 6px 12px;
	letter-spacing: .1px;
	border-radius: 5px;
	font-size: 1rem;
	font-weight: 549;
	transition: all .5s ease;
    -webkit-appearance: none;
    appearance: none;

    &:hover,
    &:focus {
        color: #14181e;
		/* background-color: #a88dff; */
		background-color: #3fb1c5;
		/* border-color: #a88dff; */
		border-color: #3fb1c5;
    }
}

/* Spinner CSS */
.spinner {
	border: 4px solid rgba(0, 0, 0, 0.1);
	border-left-color: #333;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	animation: spin 1s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

/* button CSS */
#features button {
	display: none;
	font-family: 'Helvetica', serif;
	width: auto;
	padding: 5px 20px;
	background-color: #3fb1c5;
	border: 4px solid #3fb1c5;
	color: #14181e;
	margin: 0px 1rem 0px 0px;
	border-radius: 5px;
	font-size: 1.3rem;
	/* margin-top: 0.75rem; */
	font-weight: 549;
}


#features button:hover {
	font-size: 1.3rem;
	background: none;
	border: 4px solid #3fb1c5;
	padding: 5px 20px;
	margin: 0px 1rem 0px 0px;
	border-radius: 5px;
	width: auto;
	color: #3fb1c5;
}


#videoframe {
	/* background-color: yellow; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 0rem;
}

#features {
	/* background-color: blue; */
	padding: 2rem 0;
	/* margin: 0; */
	display: flex;
	justify-content: center;
	align-items: center;
}


.form_buttons {
	background-color: #29313d;
	/* background-color: #C8A2C8; */
	padding: 10px 15px;
	width: auto;
	display: flex;
	border-radius: 5px;
	box-shadow: 5px 5px #4f4f4f;
}

#features #subtopicSkipButton{
	margin: 0px;
}

/* Video Frame */
#videoframe {
	width: auto;
}

#videoframe iframe {
	width: 720px;
	height: 418px;
}