<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/subtopic_skip.css') }}" />
	<title>Subtopi based Skip</title>
	<script>
		window.addEventListener('unload', function(e) {
			var data = JSON.stringify({ new_value: 'None' });
			navigator.sendBeacon('/update_global_variable', data);
		});
	</script>
</head>

<body>
	<nav class="nav">
		<a class="a-tag" href="/">
			<img src="{{ url_for('static', filename='images/YouTube-Icon-White-Logo.wine.svg')}}" alt="Logo" width="80"
				height="45" />
			<span id="title">Video <span id="summary">Summarization </span>& <span id="navi">Navigation
				</span>System</span>
		</a>
		<div id="button">
			<form action="/about">
				<button type="submit" id="aboutbtn">
					About
				</button>
			</form>
			<!-- <form action="/login">
				<button type="submit" id="signupbtn">
					SignUp
				</button>
			</form> -->
			<div class="container" id="container">
				<img src="{{ url_for('static', filename='images/user2.png')}}" alt="" srcset="" id="userImg">
				<!-- <span>{{username}}</span> -->
			</div>
		</div>
	</nav>
	<section id="subtopic-skip">
		<h1>Subtopic-based skip</h1>
		<div class="subtopic-container">

			<div class="player">
				<div id="player"></div>
				<button id="next-button" onclick="skipToNext();">Next</button>
			</div>

			<div class="subtopic-search">
				<label for="subtopic">Enter Subtopic:</label>
				<input type="text" id="subtopic" name="subtopic">
				<button id="submit" onclick="videoSkip()">Skip</button>
			</div>

		</div>
	</section>


	<script>
		// Loading the YouTube IFrame Player API asynchronously
		var time_str = "{{time}}";
		var time = parseInt(time_str);

		var tag = document.createElement("script");
		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName("script")[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		// YouTube player object
		var player;

		// Function called when the API is ready
		function onYouTubeIframeAPIReady() {
			// Create a new YouTube player
			player = new YT.Player("player", {
				height: "360",
				width: "640",
				videoId: "{{video_id}}",
				playerVars: {
					autoplay: 0, // Set autoplay to false
					rel: 0, // Disable related videos
				},
				events: {
					onReady: onPlayerReady,
				},
			});
		}

		// Function called when the player is ready
		function onPlayerReady(event) {
			// Skip to the desired time (in seconds)
			player.seekTo(time);
		}

		// Function to skip to the subtopic provided on clicking submit button 
		function videoSkip() {
			var subtopic = document.getElementById("subtopic").value;
			// Fetch the next timestamp from the server using AJAX
			fetch("/video_skip", {
				method: "POST", // Use POST method to send data in request body
				headers: {
					"Content-Type": "application/json", // Specify content type as JSON
				},
				body: JSON.stringify({
					// Convert data to JSON format
					topic: subtopic,
				}),
			})
				.then((response) => {
					if (!response.ok) {
						throw new Error("Network response was not ok");
					}
					return response.json();
				})
				.then((data) => {
					// Update the 'time' variable and seek to the next timestamp
					var time = data.time;
					if (!isNaN(time)) {
						time = parseInt(time);
						player.seekTo(time);
					} else {
						console.error("Invalid time format:", time);
					}
				})
				.catch((error) => {
					console.error("Error fetching next timestamp:", error);
				});
		}

		// Function to skip to the next timestamp on clicking Next button
		function skipToNext() {
			// Fetch the next timestamp from the server using AJAX
			fetch("/next_timestamp")
				.then((response) => {
					if (!response.ok) {
						throw new Error("Network response was not ok");
					}
					return response.json();
				})
				.then((data) => {
					// Update the 'time' variable and seek to the next timestamp
					var nextTime = data.next_time;
					if (!isNaN(nextTime)) {
						nextTime = parseInt(nextTime);
						player.seekTo(nextTime);
					} else {
						console.error("Invalid time format:", nextTime);
					}
				})
				.catch((error) => {
					console.error("Error fetching next timestamp:", error);
				});
		}
	</script>


</body>

</html>