<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="player"></div>
    <br>
    <button id="next-button" onclick="skipToNext();">Next</button>

    <script>
      // Loading the YouTube IFrame Player API asynchronously
      var time_str = "{{time}}";
      var time = parseInt(time_str);

      var tag = document.createElement("script");
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName("script")[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

      // YouTube player object
      var player;

      // Function called when the API is ready
      function onYouTubeIframeAPIReady() {
        // Create a new YouTube player
        player = new YT.Player("player", {
          height: "360",
          width: "640",
          videoId: "{{video_id}}", // Replacing video_id with actual YouTube video ID
          events: {
            onReady: onPlayerReady,
          },
        });
      }

      // Function called when the player is ready
      function onPlayerReady(event) {
        // Skip to the desired time (in seconds)
        player.seekTo(time); // Adjusting this to the desired time
      }
      
      // Function to skip to the next timestamp
      function skipToNext() {
        // Fetch the next timestamp from the server using AJAX
        fetch("/next_timestamp")
          .then((response) => {
            if (!response.ok) {
              throw new Error("Network response was not ok");
            }
            return response.json();
          })
          .then((data) => {
            // Update the 'time' variable and seek to the next timestamp
            var nextTime = data.next_time;
            // var parsedTime = parseTime(nextTime);
            if (!isNaN(nextTime)) {
              nextTime = parseInt(nextTime);
              player.seekTo(nextTime);
            } else {
              console.error("Invalid time format:", nextTime);
            }
          })
          .catch((error) => {
            console.error("Error fetching next timestamp:", error);
          });
      }

    </script>
  </body>
</html>
